{% extends 'base.html' %}
{% block extra_title %}
    - Manny Weds Alisha
{% endblock %}
{% block content %}


<header>
    <div class="container">
            <img src="all-in-1.s3.amazonaws.com/media/header-bg.jpg" alt="" width="100%">
            <div class="overlay">
                <h1>Manny & Alisha </h1>
                <p>ARE GETTING MARRIED</p>
            </div>
    </div>
</header>
<!-- OUR STORY -->
<section class="page-section" id="services">
    <div class="container os">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">OUR STORY</h2>
        </div>
        <div class="row text-center">
            <div class="col-md-4 mt-2">
                <div style="width: 100%; height: 300px; border: 20px solid rgb(250, 250, 250);">
                    <img src="all-in-1.s3.amazonaws.com/media/1.jpg" style="width: 100%; height: 100%; object-fit: cover;" alt="Your Image">
                </div>
                <h4 class="my-3">How it Began</h4>
                <p class="text-muted">From date nights.</p>
            </div>
            <div class="col-md-4 mt-2">
                <div style="width: 100%; height: 300px; border: 20px solid rgb(252, 250, 250);">
                    <img src="all-in-1.s3.amazonaws.com/media/2.jpg" style="width: 100%; height: 100%; object-fit: cover;" alt="Your Image">
                </div>
                <h4 class="my-3">How it went</h4>
                <p class="text-muted">To travelling around different parts of the world</p>
            </div>
            <div class="col-md-4 mt-2">
                <div style="width: 100%; height: 300px; border: 20px solid rgb(252, 250, 250);">
                    <img src="all-in-1.s3.amazonaws.com/media/header-bg.jpg" style="width: 100%; height: 100%; object-fit: cover;" alt="Your Image">
                </div>
                <h4 class="my-3">How its going</h4>
                <p class="text-muted">To getting married.</p>
            </div>
        </div>
    </div>
</section>
<!-- GURUDWARA-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Tying the Knot</h2>
            <h3 class="section-subheading text-muted">Anand Karaj Ceremony</h3>
            <h6 class="section-subheading text-muted">Sri Guru Nanak Darbar Gurdwara <br>
            Guru Nanak Marg <br>
            Gravezend <br>
            DA12 1AG <br>
            </h6>
        </div>
        <div class="countdown">
            <span id="days"></span>
            <span id="hours"></span>
            <span id="minutes"></span>
            <span id="seconds"></span>
        </div>
        <div class="text-center mt-5">
        <ul class="timeline">
            <li>
                <div class="timeline-image" id="barat"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>09:30 am</h4>
                        <h4 class="subheading">Arrival of Barat</h4>
                        <div class="timeline-body"><p class="text-muted">The arrival of barat is an exciting moment in an Indian wedding. The groom and his family arrive at the wedding venue, to formally begin the wedding festivities.</p></div>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image" id="milni"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>10:00 am</h4>
                        <h4 class="subheading">Milni & Tea</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">The word "Milni" comes from the Hindi word "Milan," which means meeting or joining. This auspicious ceremony signifies the coming together of two families </p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image" id="anandkaraj"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>11:00 am</h4>
                        <h4 class="subheading">Anand Karaj</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Anand Karaj is a sacred and joyous union between two souls who are committed to living a life of love, equality, and mutual respect.  The Anand Karaj emphasizes the importance of equality and encourages the couple to work together as equal partners in their journey of life.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image" id="langar"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>12:30 am</h4>
                        <h4 class="subheading">Guru Ka Langar</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">The tradition of Langar was started by Guru Nanak Dev Ji, the founder of Sikhism, who believed that sharing food is a way of promoting equality and eliminating discrimination. It is not just a meal but an act of selfless service and a way to connect with others in a spirit of unity and brotherhood.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image" id="doli"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>15:00 am</h4>
                        <h4 class="subheading">Doli</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">The doli symbolizes the departure of the bride from her family's home and her transition into her new life with her husband. The doli ceremony is a traditional and important part of Sikh weddings and is often accompanied by music, dancing, and celebration.</p></div>
                </div>
            </li>
        </ul>
    </div>
    </div>
</section>

<!-- RECEPTION-->
<section class="page-section" id="reception">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Reception</h2>
        </div>
        <div style="width: 100%; height: 300px; border: 1px solid rgb(250, 250, 250);">
            <img src="all-in-1.s3.amazonaws.com/media/fairmont.jpg" style="width: 100%; height: 100%; object-fit: cover;" alt="Fairmont">
        </div>
        <h4 class="text-center mt-5">Location</h4>
        <div class="mt-2" id="map" style="height: 200px; width: 100%;"></div>
        <div class="text-center mt-3">
            <p>Fairmont Windsor Park <br>
                Bishopsgate Road <br>
                Englefield <br>
                Windsor <br>
                TW20 0YL <br>
            </p>
            <h6 class="text-center mt-3">DRESS CODE: Black Tie Event</h6>
        </div>
    </div>
</section>
<!-- Accomodation-->
<section class="page-section" id="accomodation">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Accomodation</h2>
            <h4>Hotels Available around Windsor</h4>
        </div>
        <div class="row text-center">
            <div class="col-md-4 mt-2">
                <h6>De Vere Beaumont Estate</h6>
                <p>Burfield Road <br>
                    Windsor <br>
                    SL4 2JJ <br>
                    📍1.4 miles from Fairmont Windsor Park <br>
                </p>
                <a href="https://www.devere.co.uk" target="_blank">
                    <input style="background-color: #FCEDDA;" class="btn" id="" type="" value="Book Now">
                </a>
            </div>
            <div class="col-md-4 mt-2">
                <h6>The Runnymede on Thames Hotel and Spa </h6>
                <p>Windsor Road <br>
                    Egham <br>
                    TW20 0AG <br>
                    📍2.3 miles from Fairmont Windsor Park <br>                        
                </p>
                <a href="https://www.runnymedehotel.com" target="_blank">
                    <input style="background-color: #FCEDDA;" class="btn" id="" type="" value="Book Now">
                </a>
            </div>
            <div class="col-md-4 mt-2">
                <h6>Travelodge Egham</h6>
                <p>Church Road <br>
                    Egham <br>
                    TW20 9HZ <br>
                    📍2.1 miles from Fairmont Windsor Park <br>
                </p>
                <a href="https://www.travelodge.co.uk/hotels/588/Egham-hotel" target="_blank">
                    <input style="background-color: #FCEDDA;" class="btn" id="" type="" value="Book Now">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- RSVP-->
<section class="page-section" id="rsvp">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">RSVP</h2>
            <h3 class="section-subheading text-muted">Please let us know if you're attending</h3>
        </div>
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form action="" method="POST">
            <div class="row">
                <div class="col-6">
                    <div class="my-2">
                        <input class="form-control" name="name" id="name" type="text" pattern="[A-Za-z]{3}" placeholder="Head of Family *" required/>
                        <div class="invalid-feedback" data-sb-feedback="name:required">Head of family</div>
                    </div>
                    <div class="my-2">
                        <input id="guestnumber" name="guestnumber" type="number" class="form-control" placeholder="Number of Guests*"  min="1" max="15" required/>
                        <div class="invalid-feedback" data-sb-feedback="email:required">Number of Guests.</div>
                    </div>
                    <div class="my-2">                                
                        <input class="form-control" name="contact" id="contact" type="tel" placeholder="Your Phone"/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="my-2">
                        <textarea class="form-control" name="message" id="message" placeholder="Your Message" ></textarea>
                    </div>
                </div>
                <div class="col-12 my-2 text-center">
                    <input style="background-color: #FCEDDA;" class="btn" id="liveToastBtn" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">Copyright &copy; Manny Weds Alisha</div>
        </div>
    </div>
</footer>



{% endblock %}

{% block postloadjs %}
<script>
    function initMap() {
      var location = {lat: 51.4396, lng: -0.5874};
      var map = new google.maps.Map(document.getElementById('map'), {
        center: location,
        zoom: 15
      });
      var marker = new google.maps.Marker({
        position: location,
        map: map,
        title: 'Fairmont Windsor Park'
      });
    }
</script>
<script>
    // Set the target date for the countdown
    var target_date = new Date('09/29/2023');

    // Update the countdown every second
    var countdown = setInterval(function() {
        // Get the current date
        var current_date = new Date();

        // Calculate the time remaining until the target date
        var time_remaining = target_date - current_date;

        // Convert the time remaining to days, hours, minutes, and seconds
        var days_remaining = Math.floor(time_remaining / (24 * 60 * 60 * 1000));
        var hours_remaining = Math.floor((time_remaining / (60 * 60 * 1000)) % 24);
        var minutes_remaining = Math.floor((time_remaining / (60 * 1000)) % 60);
        var seconds_remaining = Math.floor((time_remaining / 1000) % 60);

        // Update the HTML elements with the remaining time
        document.getElementById('days').innerHTML = days_remaining + ' Days';
        document.getElementById('hours').innerHTML = hours_remaining + ' Hours';
        document.getElementById('minutes').innerHTML = minutes_remaining + ' Mins';
        document.getElementById('seconds').innerHTML = seconds_remaining + ' Secs';

        // If the target date has been reached, stop the countdown
        if (time_remaining <= 0) {
            clearInterval(countdown);
            document.getElementById('days').innerHTML = '0 days';
            document.getElementById('hours').innerHTML = '0 hours';
            document.getElementById('minutes').innerHTML = '0 minutes';
            document.getElementById('seconds').innerHTML = '0 seconds';
        }
    }, 1000);
</script>
{% endblock %}