{% extends 'base.html' %}
{% block extra_title %}
    - Manny Weds Alisha
{% endblock %}
{% block content %}




<header>
    {% if messages %}
    <div class="container mt-3">
        <div class="row">
            <div class="col text-center">
                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container" id="zoom-wrapper">
        <img src="https://all-in-1.s3.amazonaws.com/media/hero-image.jpg" alt="" width="100%">
        <div class="overlay" id="zoom-text">
            <h1>Manny & Alisha </h1>
            <p>ARE GETTING MARRIED</p>
        </div>
    </div>
</header>
<!-- OUR STORY -->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center slide-section slide-up">
            <h1 class="section-heading">Our Story</h1>
        </div>
        <div class="row text-center">
            <div class="col-md-4 slide-section slide-up">
                <div class="mt-3" style="width: 100%; height: 300px; border: 10px solid rgb(250, 250, 250);">
                    <img src="https://all-in-1.s3.amazonaws.com/media/1.jpg" style="width: 100%; height: 100%; object-fit: cover;" alt="Your Image">
                </div>
                <h6>From date nights.</h6>
            </div>
            <div class="col-md-4 slide-section slide-up">
                <div class="mt-3" style="width: 100%; height: 300px; border: 10px solid rgb(252, 250, 250);">
                    <img  src="https://all-in-1.s3.amazonaws.com/media/2.jpg" style="width: 100%; height: 100%; object-fit: cover;" alt="Your Image">
                </div>
                <h6>To travelling around different parts of the world</h6>
            </div>
            <div class="col-md-4 slide-section slide-up">
                <div class="mt-3" style="width: 100%; height: 300px; border: 10px solid rgb(252, 250, 250);">
                    <img src="https://all-in-1.s3.amazonaws.com/media/header-bg.jpg" style="width: 100%; height: 100%; object-fit: cover;" alt="Your Image">
                </div>
                <h6>To getting married.</h6>
            </div>
        </div>
    </div>
</section>
<hr>
<!-- GURUDWARA-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center slide-section slide-up">
            <h1 class="section-heading">Tying the Knot</h1>
            <h3 class="section-subheading text-muted">Anand Karaj Ceremony</h3>
            <h6 class="section-subheading text-muted">Sri Guru Nanak Darbar Gurdwara <br>
            Guru Nanak Marg <br>
            Gravezend <br>
            DA12 1AG <br>
            </h6>
        </div>
        <div class="text-center slide-section slide-up my-4">
            <h5 >29th September 2023</h5>
        </div>
        <div class="countdown slide-section slide-up">
            <span id="days"></span>
            <span id="hours"></span>
            <span id="minutes"></span>
            <span id="seconds"></span>
        </div>
        <div class="text-center mt-5">
        <ul class="timeline">
            <li>
                <div class="timeline-image slide-section slide-up" id="barat"></div>
                <div class="timeline-panel slide-section slide-up">
                    <div class="timeline-heading">
                        <h4>09:30 am</h4>
                        <h4 class="subheading">Arrival of Barat</h4>
                        <div class="timeline-body"><p class="text-muted">The arrival of barat is an exciting moment in an Indian wedding. The groom and his family arrive at the wedding venue, to formally begin the wedding festivities.</p></div>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image slide-section slide-up" id="milni"></div>
                <div class="timeline-panel slide-section slide-up">
                    <div class="timeline-heading">
                        <h4>10:00 am</h4>
                        <h4 class="subheading">Milni & Tea</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">The word "Milni" comes from the Hindi word "Milan," which means meeting or joining. This auspicious ceremony signifies the coming together of two families </p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image slide-section slide-up" id="anandkaraj"></div>
                <div class="timeline-panel slide-section slide-up">
                    <div class="timeline-heading">
                        <h4>11:00 am</h4>
                        <h4 class="subheading">Anand Karaj</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Anand Karaj is a sacred and joyous union between two souls who are committed to living a life of love, equality, and mutual respect.  The Anand Karaj emphasizes the importance of equality and encourages the couple to work together as equal partners in their journey of life.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image slide-section slide-up" id="langar"></div>
                <div class="timeline-panel slide-section slide-up">
                    <div class="timeline-heading">
                        <h4>12:30 pm</h4>
                        <h4 class="subheading">Guru Ka Langar</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">The tradition of Langar was started by Guru Nanak Dev Ji, the founder of Sikhism, who believed that sharing food is a way of promoting equality and eliminating discrimination. It is not just a meal but an act of selfless service and a way to connect with others in a spirit of unity and brotherhood.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image slide-section slide-up" id="doli"></div>
                <div class="timeline-panel slide-section slide-up">
                    <div class="timeline-heading">
                        <h4>03:00 pm</h4>
                        <h4 class="subheading">Doli</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">The doli symbolizes the departure of the bride from her family's home and her transition into her new life with her husband. The doli ceremony is a traditional and important part of Sikh weddings and is often accompanied by music, dancing, and celebration.</p></div>
                </div>
            </li>
        </ul>
    </div>
    </div>
</section>
<hr>

<!-- RECEPTION-->
<section class="page-section" id="reception">
    <div class="container">
        <div class="text-center slide-section slide-up">
            <h1 class="section-heading">Reception</h1>
        </div>
        <div class="slide-section slide-up my-4" style="width: 100%; height: 300px; border: 1px solid rgb(250, 250, 250);">
            <img src="https://all-in-1.s3.amazonaws.com/media/fairmont.jpg" style="width: 100%; height: 100%; object-fit: cover;" alt="Fairmont">
        </div>
        <h4 class="text-center mt-5 slide-section slide-up">Location</h4>
        <div class="mt-2 slide-section slide-up" id="map" style="height: 200px; width: 100%;"></div>
        <div class="text-center slide-section slide-up mt-5">
            <h5>30th September 2023 <br>
            05:30pm</h5>
        </div>
        <div class="text-center mt-3 slide-section slide-up">
            <h5>Fairmont Windsor Park</h5>
            <p> Bishopsgate Road <br>
                Englefield <br>
                Windsor <br>
                TW20 0YL <br>
            </p>
            <h5 class="text-center mt-3 slide-section slide-up">DRESS CODE: Black Tie Event</h5>
        </div>
    </div>
</section>
<hr>
<!-- Accomodation-->
<section class="page-section" id="accomodation">
    <div class="container">
        <div class="text-center slide-section slide-up">
            <h1 class="section-heading">Accomodation</h1>
            <h5>Hotels Available around Windsor</h5>
        </div>
        <div class="row text-center ">
            <div class="col-md-4 my-3 slide-section slide-up">
                <h6>De Vere Beaumont Estate</h6>
                <p>Burfield Road <br>
                    Windsor <br>
                    SL4 2JJ <br>
                    📍1.4 miles from Fairmont Windsor Park <br>
                </p>
                <a href="https://www.devere.co.uk" target="_blank">
                    <input type="button" style="background-color: #BDA264; width:50%;" class="btn" id="" type="" value="Book Now">
                </a>
                <hr class="my-5" style="width: 50%;">
            </div>
            <div class="col-md-4 my-3 slide-section slide-up">
                <h6>The Runnymede on Thames Hotel and Spa </h6>
                <p>Windsor Road <br>
                    Egham <br>
                    TW20 0AG <br>
                    📍2.3 miles from Fairmont Windsor Park <br>                        
                </p>
                <a href="https://www.runnymedehotel.com" target="_blank">
                    <input type="button" style="background-color: #BDA264; width:50%;" class="btn" id="" type="" value="Book Now">
                </a>
                <hr class="my-5" style="width: 50%;">
            </div>
            <div class="col-md-4 my-3 slide-section slide-up">
                <h6>Premier Inn Staines-upon-Thames Hotel</h6>
                <p>90-106 High Street<br>
                    Staines <br>
                    TW18 4DP<br>
                    📍3.5miles from Fairmont Windsor Park <br>
                </p>
                <a href="https://www.premierinn.com/gb/en/hotels/england/surrey/staines/staines-upon-thames.html" target="_blank">
                    <input type="button" style="background-color: #BDA264; width:50%;" class="btn" id="" type="" value="Book Now">
                </a>
                <hr class="my-5" style="width: 50%;">
            </div>
        </div>
    </div>
</section>
<!-- RSVP-->
<section class="page-section" id="rsvp" style="background-color: #BDA264;">
    <div class="container slide-section slide-up">
      <h1 class="text-center">Rsvp Card</h1>
      <div class="row text-center ">
        <div id="buttons-container">
            <input type="button" style="background-color: #FCEDDA; width:40%;" class="btn" onclick="showBoysForm()" value="Groom RSVP">
        </div>
      </div>
      <form id="boys-form" method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <h3 class="text-center">Groom's RSVP Card</h3>
        <input type="hidden" id="side" name="side" value="groomSide" equired>
        <input type="text" id="name" name="name" placeholder="Full Name" pattern="[a-zA-Z ]+" required>
        <select id="attending" name="attending" required>
          <option value="" hidden>Will you be attending?</option>
          <option value="yes">Accept with Pleasure</option>
          <option value="no">Regretfully Decline</option>
        </select>
        <input type="number" id="total_attending" name="total_attending" min="1" placeholder="Number of Guests" required>
        <input type="number" id="coach_attending" name="coach_attending" min="0" placeholder="How many guests travelling by Coach?" required>
        <input type="text" id="song_request" name="song_request" placeholder="Any Song Request?">
        <input class="text-center" type="submit" value="Submit">
      </form>
      <div class="row text-center ">
        <div id="buttons-container">
            <input type="button" style="background-color: #FCEDDA; width:40%;" class="btn" onclick="showGirlsForm()" value="Bride RSVP">
        </div>
      </div>
      <form id="girls-form" method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <h3 class="text-center">Bride's RSVP Card</h3>
        <input type="hidden" id="side" name="side" value="brideSide"required>
        <input type="text" id="name" name="name" placeholder="Full Name" pattern="[a-zA-Z ]+" required>
        <select id="attending" name="attending" required>
            <option value="" hidden>Will you be attending?</option>
            <option value="yes">Accept with Pleasure</option>
            <option value="no">Regretfully Decline</option>
        </select>
        <input type="number" id="total_attending" name="total_attending" min="1" placeholder="Number of Guests" required>
        <input type="text" id="song_request" name="song_request" placeholder="Any Song Request?">
        <input class="text-center" type="submit" value="Submit">
      </form> 
    </div>
</section>
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">Copyright &copy; Manny Weds Alisha</div>
        </div>
    </div>
</footer>



{% endblock %}

{% block postloadjs %}
<script>
    function initMap() {
      var location = {lat: 51.4396, lng: -0.5874};
      var map = new google.maps.Map(document.getElementById('map'), {
        center: location,
        zoom: 15
      });
      var marker = new google.maps.Marker({
        position: location,
        map: map,
        title: 'Fairmont Windsor Park'
      });
    }
    function zoomText() {
        var text = document.getElementById("zoom-text");
        text.classList.add("zoomed");
      }

    window.onload = function() {
        initMap();
        zoomText();
    }
</script>
<script>
    // Set the target date for the countdown
    var target_date = new Date('09/29/2023');

    // Update the countdown every second
    var countdown = setInterval(function() {
        // Get the current date
        var current_date = new Date();

        // Calculate the time remaining until the target date
        var time_remaining = target_date - current_date;

        // Convert the time remaining to days, hours, minutes, and seconds
        var days_remaining = Math.floor(time_remaining / (24 * 60 * 60 * 1000));
        var hours_remaining = Math.floor((time_remaining / (60 * 60 * 1000)) % 24);
        var minutes_remaining = Math.floor((time_remaining / (60 * 1000)) % 60);
        var seconds_remaining = Math.floor((time_remaining / 1000) % 60);

        // Update the HTML elements with the remaining time
        document.getElementById('days').innerHTML = days_remaining + ' Days';
        document.getElementById('hours').innerHTML = hours_remaining + ' Hours';
        document.getElementById('minutes').innerHTML = minutes_remaining + ' Mins';
        document.getElementById('seconds').innerHTML = seconds_remaining + ' Secs';

        // If the target date has been reached, stop the countdown
        if (time_remaining <= 0) {
            clearInterval(countdown);
            document.getElementById('days').innerHTML = '0 days';
            document.getElementById('hours').innerHTML = '0 hours';
            document.getElementById('minutes').innerHTML = '0 minutes';
            document.getElementById('seconds').innerHTML = '0 seconds';
        }
    }, 1000);
</script>
<script>
    var sections = document.querySelectorAll(".slide-section");
    var observer = new IntersectionObserver(function(entries) {
    entries.forEach(function(entry) {
        if (entry.isIntersecting) {
        entry.target.classList.add("visible");
        } else {
        entry.target.classList.remove("visible");
        }
    });
    }, { threshold: [0.05] }); /* change the threshold value */

    sections.forEach(function(section) {
    observer.observe(section);
    });
</script>
<script>
    function showBoysForm() {
      var girlsForm = document.getElementById("girls-form");
      var boysForm = document.getElementById("boys-form");
    
      if (girlsForm.style.display === "block") {
        girlsForm.style.display = "none";
      }
    
      if (boysForm.style.display === "none" || boysForm.style.display === "") {
        boysForm.style.display = "block";
      } else {
        boysForm.style.display = "none";
      }
    }
    
    function showGirlsForm() {
      var girlsForm = document.getElementById("girls-form");
      var boysForm = document.getElementById("boys-form");
    
      if (boysForm.style.display === "block") {
        boysForm.style.display = "none";
      }
    
      if (girlsForm.style.display === "none" || girlsForm.style.display === "") {
        girlsForm.style.display = "block";
      } else {
        girlsForm.style.display = "none";
      }
    }
    </script>
{% endblock %}