

<section class="hero-section">
    <div class="hero-content">
        <h1 class="hero-title">Manny Weds Alisha</h1>
    </div>
</section>


<header>
    <header>
      <nav class="navbar">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#">Home</a>
          </li>
          <li class="nav-item">
            <a href="#our-story">Our Story</a>
          </li>
          <li class="nav-item">
            <a href="#">Wedding</a>
          </li>
          <li class="nav-item">
            <a href="#">RSVP</a>
          </li>
        </ul>
      </nav>
    </header>
    

  </header>

<!--our story section -->
<section>
    <div id="our-story"class="container">
        <div class="row">
            <div class="col mt-5 text-center">
                <h3>
                    Our Story
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <img class="story-img"src="/media/test.jpg" alt="">
            </div>
            <div class="col-12 text-center mt-5">
                <p>this is a test. this is a test. this is a test. this is a test. this is a test. this is a test. this is a test. this is a test. this is a test.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-center mt-5">
                <p>this is a test. this is a test. this is a test. this is a test. this is a test. this is a test. this is a test. this is a test. this is a test.</p>
            </div>
            <div class="col-6">
                <img class="story-img"src="/media/test.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="story-img"src="/media/test.jpg" alt="">
            </div>
            <div class="col-6 text-center mt-5">
                <p>this is a test. this is a test. this is a test. this is a test. this is a test. this is a test. this is a test. this is a test. this is a test.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-center mt-5">
                <p>this is a test. this is a test. this is a test. this is a test. this is a test. this is a test. this is a test. this is a test. this is a test.</p>
            </div>
            <div class="col-6">
                <img class="story-img"src="/media/test.jpg" alt="">
            </div>
        </div>
    </div>
</section>


<!--wedding section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <p>text goes here. text goes here. text goes here. text goes here. text goes here. text goes here. text goes here. text goes here. text goes here.</p>
            </div>
            <div class="col-4 text-center">
                <img class="wedding-img"src="/media/test.jpg" alt="">
            </div>
            <div class="col-4">
                
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                
            </div>
            <div class="col-4 text-center">
                <img class="wedding-img"src="/media/test.jpg" alt="">
            </div>
            <div class="col-4">
                <p>text goes here. text goes here. text goes here. text goes here. text goes here. text goes here. text goes here. text goes here. text goes here.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>text goes here. text goes here. text goes here. text goes here. text goes here. text goes here. text goes here. text goes here. text goes here.</p>
            </div>
            <div class="col-4 text-center">
                <img class="wedding-img"src="/media/test.jpg" alt="">
            </div>
            <div class="col-4">
                
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                
            </div>
            <div class="col-4 text-center">
                <img class="wedding-img"src="/media/test.jpg" alt="">
            </div>
            <div class="col-4">
                <p>text goes here. text goes here. text goes here. text goes here. text goes here. text goes here. text goes here. text goes here. text goes here.</p>
            </div>
        </div>
    </div>
    </div>
</section>