{% extends "passwordsafe/passwordsafe.html" %}

{% block add_password %}


<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            
            <form action="{% url 'addpassword' %}" method="POST" id="add_password">
                {% csrf_token %}
                {{ form.platform_name | as_crispy_field }}
                {{ form.email_address | as_crispy_field }}
                {{ form.password | as_crispy_field }}
                <button type="submit" class="btn btn-secondary my-2">Add</button>
            </form>
        </div>
    </div>
</div>




{% endblock %}

