{% extends "base.html" %}

{% block extra_title %}
- PassWord Safe
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col text-center">
            <h1>Password Safe</h1>
        </div>
    </div>


    {% if user.is_authenticated %}
    <div>
        {{ safes|length }}
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    
                    <th scope="col">
                        {% if order == 'asc' %}
                        <a href="?sort_order=desc">Platform</a> 
                        {% elif order == 'desc' %}
                        <a href="?sort_order=asc">Platform</a>
                        {% endif %}
                    </th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                </tr>
            </thead>
            <tbody>
                {% for safe in safes %}
                <tr>
                    <th scope="row">{{ safe.platform_name }}</th>
                    <td >{{ safe.email_address }}</td>

                    <td>
                        <div class="pass-group d-inline">
                            <button class="btn btn-sm btn-info show-hide mb-2" id="show-hide_{{ safe.id }}">Show/Hide</button>
                            <p class="password" id="password" value="{{ safe.password }}">{{ safe.password }}</p>
                        </div>
                    </td>
                    <td>
                        <a href="/passwordsafe/delete/{{ safe.id }}"><button class="btn btn-sm btn-danger"> Delete</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-3 text-center offset-9">
                <a href="{% url 'addpassword' %}"><button class="btn btn-secondary">Add</button></a>
            </div>
        </div>
    </div>
    {% else %}
    <p>Create an account(<a href="{% url 'account_signup' %}">SignUp</a>)  or login (<a href="{% url 'account_login' %}">LogIn</a>)  to save your passwords. </p>
    {% endif %}
</div>


{% block add_password %}
{% endblock %}


{% endblock %}

{% block postloadjs %}

<script type="text/javascript">
    $(document).ready(function(){
        $(".password").hide()
    });

    $(".show-hide").click(function () {
        password = $(this).closest('.pass-group').find('.password').toggle()
    });





</script>
{% endblock %}